<div>
    <nav class="navbar bg-info">
        <img src="assets/images/ezstream.png" alt="logo" style="width: 80px;margin-left: 5px ;">
        <h1>EzStream</h1>
        <div class="nav-link">
        <a routerLink="/ez" routerLinkActive="active" class="nav-items">Stream</a>
        <a routerLink="/upload" routerLinkActive="active" class="nav-items" style="margin-left:12px">Upload</a>
        </div>
        <button class="btn btn-dark" type="submit" routerLink="">Logout</button>
        </nav>
</div>
