<section class="full-background">
    <div class="header">
        <img src="assets/images/ezstream.png" alt="logo" style="width: 80px;margin-left: 5px ;">
        <h1>EzStream</h1>       
    </div>
    <div class="bton">
        <button id="login" routerLink="login">Log-In</button>
        <button id="signup" routerLink="signup">Sign-Up</button>
    </div>
    <div class="main">
        -WATCH BEAUTIFULL,INTERSTING AND INCREDIBLE CLIPS ALL OVER THE WORLD
        <br>
        -ITS ALL YOURS!YOU DECIDE WHAT YOU WANT TO SEE.
        <br>
        <button class="btn btn-primary"  id="signup2" routerLink="signup">GET STARTED</button>
    </div>
    <!-- <div class="footer"></div> -->
  </section>